# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
build/

# Local env files
.env.local
.env.*.local

# Logs
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
